aiogram>=3.30.0
python-dotenv>=1.0.0
qrcode[pil]>=7.4.2
fastapi>=0.110
uvicorn>=0.29
python-multipart>=0.0.9
aiohttp>=3.9
aiohttp_socks>=0.9.1
aiodns>=3.2
psutil>=5.9
pywebpush>=2.0.0
asyncssh>=2.14.0
google-genai>=0.5.0
PyJWT>=2.8.0
cryptography>=41.0.0

# Automatic multi-language translation
deep-translator>=1.11.4
